~*
*.ipynb_checkpoints/
*un~
.snakemake
!results/
results/*
!results/samplesheets/
fasterq*
!fasterq_download_srr_fastqs
!results/samplesheets/fastq/
results/samplesheets/fastq/*
!results/samplesheets/hicpro/
results/samplesheets/hicpro/*
!results/samplesheets/post-hicpro/
results/samplesheets/post-hicpro/*
