~*
*.ipynb_checkpoints/
*un~
.snakemake
!results/
results/*
!results/samplesheets/
fasterq*
!results/samplesheets/fastq/
results/samplesheets/fastq/*
!results/samplesheets/hicpro/
results/samplesheets/hicpro/*
