~*
*.ipynb_checkpoints/
*un~
.snakemake
results/
!results/samplesheets/
fasterq*
!fasterq_download_srr_fastqs.sh
data/
figures/
ref_genome/
human.peaks_1.30.23.xlsx
human_loops.xlsx
human_loops_1_30_23.xlsx
human_t2t_hicpro.xlsx
mouse.peaks.xlsx
mouse_loops.xlsx
results/samplesheets/post-hicpro/human_t2t.peaks_files.samplesheet.without_header.tsv
results/samplesheets/post-hicpro/readlength.human.samplesheet.without_header.tsv
results/samplesheets/hicpro/2022.10.20.09.39.hicpro.samplesheet.without_header.tsv
results/samplesheets/post-hicpro/human.peaks_files.samplesheet.without_header.tsv
tables/hicpro_metrics_website.xlsx
tables/peaks.xlsx
workflow/scripts/ucsc/
tables/*
workflow/scripts/visualizations/samplesheets/samplesheet.*.txt
